/* COLORS */
$bg-color-1: #B1EDD4;
$text-color-1: #002d73;
$text-color-2: #808080;
/* end COLORS */

/* IMAGES */
$img-1: url('../img/home-bg.jpg');
$img-2: url('../img/footer-montagne-bottom.jpg');
/* end IMAGES */
