@import "_variables";
@import "_common";
@import "app";


.product-main {
	background-color: $bg-color-2;
	padding: 50px 150px 25px;
	align-items: center;
	flex-direction: column;
	position: relative;
	@media screen and (max-width: 576px) {
		padding: 50px 50px 25px;
	}

	.product-title {
		color: $text-color-1;
	}

	.pasta-view {
		height: 350px;
		@media screen and (max-width: 768px) {
			height: 150px;
		}

		img {
			height: 100%;
		}
	}

	.package-view {
		height: 450px;
		@media screen and (max-width: 768px) {
			height: 200px;
		}

		.prev-product {
			@include slider-arrow;
			left: 0;
		}

		img {
			height: 100%;
		}

		.next-product {
			@include slider-arrow;
			right: 0;
		}
	}

	.product-description {
		color: $text-color-1;
		font-size: 20px;
		line-height: 1.5;
		@media screen and (max-width: 576px) {
			font-size: 1.9rem;
		}
	}
}
